.item-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background: rgb(192,105,207);
    background: linear-gradient(60deg, rgba(192,105,207,1) 0%, rgba(115,67,185,1) 60%, rgba(53,37,171,1) 100%);
}