.cart-icon-container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    cursor: pointer;
    transition: .2s;
}

.cart-icon-container:hover{
    transform: scale(1.1);
}

.cart-icon-container span {
    position: absolute;
    right: 8px;
    top: 10px;
    border-radius: 100%;
    color: white;
    padding: 7px 2px;
    text-align: center;
}

.cart-icon-container img{
    width: 100%;
}